.DS_Store
terraform-provider-multy
bin
vendor
.idea

# Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc
terraform